*{
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    background-color: rgb(189, 221, 234);
    justify-content: center;
    align-items: center;
}

.toptext {
    display: flex;
    background-color: rgb(154, 216, 240);
    justify-content: center;
    align-items: center;
}


.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 206, 230);
    justify-content: center;
    min-width: 800px;
    cursor: pointer;
    border-radius: 15px;
    padding: 30px 20px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    box-shadow: 0 0 30px;

}

.box > * {
    color: white;
    
}

#unbox{
    
}


button {
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%) scale(2.3);
    position: absolute;

}